<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>

<!-- Following Menu -->
<%- include('../partials/menu-following') %>

<!-- Sidebar Menu -->
<%- include('../partials/menu-sidebar') %>

<!-- Page Contents -->
<div class="pusher">

    <!-- Header -->
    <%- include('../partials/header') %>

    <!-- Create Segment -->
    <div class="ui vertical stripe segment end">
        <div class="ui aligned stackable grid container">

            <div class="title row">
                <div class="twelve wide column">
                    <div class="ui huge header">
                        <div class="content">
                            Create
                            <div class="sub header">
                                <p>your project and conquer the world!</p>
                            </div>
                        </div>
                    </div>

                    <div class="ui addblank">
                        <p>You can easily start a new project skeleton for <b class="kha">Kha</b>. Create a new directory and from inside it run the command:</p>

                        <div class="ui large compact message squared">
                            <div class="content">
                                <p class="console">haxelib run kha --init</p>
                            </div>
                        </div>
                        <p>Now you have everything you need to rule the world. Learn how to code with <b class="kha">Kha</b> from our tutorials or proceed to the next step and <a href="/getstarted/build">build your game/app project to any supported target</a>.</p>
                    </div>
                </div>
                <div class="four wide column">

                    <%- include('../partials/help') %>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>

</body>
</html>